<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Realtime</title>
  <link rel="stylesheet" href="/stylesheets/styles.css?v=1.0">
  <script type="text/javascript" src="javascripts/jquery.js"></script>

  <script src="http://d3js.org/d3.v3.min.js"></script>

  <script>

    var n = 40;
    random = d3.random.normal(0, .2);

    function chart(domain, interpolation, tick) {
      var data = [];
      for (var i = 0; i < 40; i++) {
        data.push(0);
      }
      ;
      console.log(data)

      var margin = {top: 6, right: 0, bottom: 6, left: 40},
              width = 960 - margin.right,
              height = 120 - margin.top - margin.bottom;

      var x = d3.scale.linear()
              .domain(domain)
              .range([0, width]);

      var y = d3.scale.linear()
              .domain([-1, 1])
              .range([height, 0]);

      var line = d3.svg.line()
              .interpolate(interpolation)
              .x(function (d, i) {
                return x(i);
              })
              .y(function (d, i) {
                return y(d);
              });

      var svg = d3.select("body").append("p").append("svg")
              .attr("width", width + margin.left + margin.right)
              .attr("height", height + margin.top + margin.bottom)
              .style("margin-left", -2 + "px")
              .append("g")
              .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      svg.append("defs").append("clipPath")
              .attr("id", "clip")
              .append("rect")
              .attr("width", width)
              .attr("height", height);

      svg.append("g")
              .attr("class", "y axis")
              .call(d3.svg.axis().scale(y).ticks(5).orient("left"));

      var path = svg.append("g")
              .attr("clip-path", "url(#clip)")
              .append("path")
              .data([data])
              .attr("class", "line")
              .attr("d", line);

      tick(path, line, data, x);
    }

  </script>

  <script>
    var server_metrics = {
      "cpu": {
        "interrupts": 75.8583320819859,
        "last_minute": 0.24,
        "procs_running": 1,
        "last_five_minutes": 0.07,
        "user": 2.64285714285714,
        "procs_blocked": 0,
        "last_fifteen_minutes": 0.06,
        "io_wait": 0.5,
        "system": 4.78571428571429,
        "idle": 94.0714285714286
      }};
    console.log("alpha")
  </script>
</head>
<body>

<script>

  chart([0, n - 1], "linear", function tick(path, line, data, x) {

    // push a new data point onto the back
    data.push(server_metrics['cpu']['last_minute']);

    // redraw the line, and then slide it to the left
    path
            .attr("d", line)
            .attr("transform", null)
            .transition()
            .duration(3000)
            .ease("linear")
            .attr("transform", "translate(" + x(-1) + ")")
            .each("end", function () {
              tick(path, line, data, x);
            });

    // pop the old data point off the front
    data.shift();

  });

</script>

</body>
</html>



