<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Realtime</title>
  <link rel="stylesheet" href="/stylesheets/styles.css?v=1.0">
  <script type="text/javascript" src="javascripts/jquery.js"></script>

  <script>
    var server_metrics={
      "cpu": {
        "interrupts": 75.8583320819859,
        "last_minute": 0.24,
        "procs_running": 1,
        "last_five_minutes": 0.07,
        "user": 2.64285714285714,
        "procs_blocked": 0,
        "last_fifteen_minutes": 0.06,
        "io_wait": 0.5,
        "system": 4.78571428571429,
        "idle": 94.0714285714286
      }};
    console.log("alpha")
  </script>
</head>
<body>

<span style="color:lightgray;">(thread: <%= Scout::Realtime::Main.instance.stats_thread.status %>)</span>. Realtime is
<% if Scout::Realtime::Main.instance.running %>
  <strong>running.</strong> start realtime | <a href="/stop">stop realtime</a>
<% else %>
  stopped. <a href="/start">start realtime</a> | stop realtime.
<% end %>

<% if Scout::Realtime::Main.instance.running %>
  <script>
    function refresh() {
      $.getJSON("/stats.json", function (d) {
        server_metrics =d;
        $("#data").text(JSON.stringify(d))
      });
    }
  $(function(){
    setInterval(refresh,1000);
  })

  </script>
<% end %>

<pre id="data" style="width:600px;white-space: pre-wrap">

</pre>

</body>
</html>



