<div class="chart_container">
  <svg class="chart overview_chart" data-collector="<%=chart_collector%>" data-metrics=<%= JSON.dump(chart_metrics) %> data-instance-name="<%=chart_instance_name%>" data-y_scale_max="<%= chart_y_scale_max %>"></svg>

  <div class="chart_legend"></div>
  <div style="clear:both;"></div>
</div>
