<div class="chart_container">
  <svg class="chart overview_chart" data-type="<%=chart_type%>" data-instance-name="<%=chart_instance_name%>"></svg>

  <div class="chart_legend"></div>
  <div style="clear:both;"></div>
</div>