<div class="chart_container">
  <div class="chart" data-type="<%=chart_type%>" data-instance-name="<%=chart_instance_name%>"></div>

  <div class="chart_legend"></div>
  <div style="clear:both;"></div>
</div>