<div class="row header_row" style="height: 100%">
  <div class="col-md-6"><img src="/images/logo.png" alt="Scout Top"/></div>
  <div class="col-md-6">
    <div id="toggle">
      <span id='report-time'></span> <img src="/images/pause.png" class="off" /><img src="/images/play.png">
    </div>
  </div>
</div> <!-- header row -->
