<div> <!-- wrapper div needed for ff positioning -->
  <img src="/images/logo.png" alt="Scout Realtime"/>
  <div id="toggle">
    <span id='report-time'></span>
    <span id='off' class="button"><img src="/images/pause.png" width=12 height=14 /></span><span id='on' class="button"><img src="/images/play.png" width=14 height=14 ></span>
  </div>
<div>

