<img src="/images/logo.png" alt="Scout Realtime"/>
<div id="toggle">
  <span id='report-time'></span> <img src="/images/pause.png" class="off-button" /><img src="/images/play.png" class="on-button">
</div>

