<div class="row" style="height:100%">
  <div class="col-md-8" style="height:100%">
    <div id="top">
      <%= erb :header %>
      <%= erb :overview_charts%>
    </div> <!-- top -->
  </div> <!-- col-md-8 -->
  <!-- sidebar -->
  <div class="col-md-4" id="sidebar_top" style="height:100%">
    <%= erb :sidebar %>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <h2><span>Top</span> Processes</h2>
    <%= erb :processes %>
  </div>
  <!-- sidebar -->
  <div class="col-md-4" id="sidebar_bottom"></div>
</div>
<script src="/javascripts/application.js"></script>