<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Realtime</title>
  <link type="text/css" rel="stylesheet" href="/stylesheets/rickshaw.min.css"></link>
  <link rel="stylesheet" href="stylesheets/styles.css?v=1.0">
  <script type="text/javascript" src="javascripts/jquery.js"></script>
  <script src="/javascripts/d3.v3.min.js"></script>
  <script src="/javascripts/rickshaw.min.js"></script>
  <script type="text/javascript" src="javascripts/handlebars-v1.1.0.js"></script>
  <script>var metrics_array =<%=DATA_FOR_TESTING.to_json%>;</script>
  <!--<script type="text/javascript" src="javascripts/metrics_for_development.js"></script>-->
</head>
<body>
<%=yield%>
</body>
</html>
