<table id="processes">
  <thead>
    <tr>
      <th></th>
      <th>Count</th>
      <th>CPU %</th>
      <th>Memory</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
<script id='process-template' type='text/x-handlebars-template'>
  <tr>
    <td>{{cmd}}</td>
    <td class="process">
      <span><svg class="chart" data-collector="{{cmd}}" data-type="count" data-instance-name=""></svg></span>
      <span class="chart_info"></span>
      <span class="latest_value">{{count}}</span>
    </td>
    <td class="process">
      <span><svg class="chart" data-collector="{{cmd}}" data-type="cpu" data-instance-name=""></svg></span>
      <span class="chart_info"></span>
      <span class="latest_value">{{cpu}}</span>
    </td>
    <td class="process">
      <span><svg class="chart" data-collector="{{cmd}}" data-type="memory" data-instance-name=""></svg></span>
      <span class="chart_info"></span>
      <span class="latest_value">{{memory}}</span>
    </td>
  </tr>
</script>
