<table id="processes">
  <thead>
  <tr>
    <th></th>
    <th>Count</th>
    <th>CPU %</th>
    <th>Memory</th>
  </tr>
</thead>
<tbody>
  <% 10.times do |i| %>
    <tr>
      <td>ruby</td>
      <td class="process">
        <svg class="chart" data-type="count" data-instance-name="ruby_<%=i%>"></svg><span class="latest-process-value">20</span>
      </td>
      <td class="process">
        <svg class="chart" data-type="cpu" data-instance-name="ruby_<%=i%>"></svg><span class="latest-process-value">20</span>
      </td>
      <td class="process">
        <svg class="chart" data-type="memory" data-instance-name="ruby_<%=i%>"></svg><span class="latest-process-value">20</span>
      </td>
    </tr>
  <% end%>
  </tbody>
</table>