
Sort: <input type="radio" name="sort" value="cpu" id="sort_cpu"><label for="sort_cpu">CPU</label>
<input type="radio" name="sort" value="memory" id="sort_memory" checked><label for="sort_memory">Memory</label>
<table style="width:100%" class="system_list" id="processes">
  <thead>
  <tr>
    <th></th>
    <th>Count</th>
    <th>CPU %</th>
    <th>Memory</th>
  </tr>
  </thead>
  <tbody>

  </tbody>
</table>