<div>An open-source tool created by <a href="https://scoutapp.com">Scout</a>.</div>
<a href="http://github.com/scoutapp/scout_realtime" class="icon" target="_blank"><img src="images/github.png" height=28/></a>
<a href="https://scoutapp.com" class="icon" target="_blank"><img src="images/scout.png" height=26/></a>
