

<span style="color:lightgray;">(thread: <%= Scout::Realtime::Main.instance.stats_thread.status %>)</span>. Realtime is
<% if Scout::Realtime::Main.instance.running %>
  <strong>running.</strong> start realtime | <a href="/stop">stop realtime</a>
<% else %>
  stopped. <a href="/start">start realtime</a> | stop realtime.
<% end %>

<% if Scout::Realtime::Main.instance.running %>
  <script>
    function refresh() {
      $.getJSON("/stats.json", function (d) {
        server_metrics =d;
        $("#data").text(JSON.stringify(d))
      });
    }
    $(function(){
      setInterval(refresh,1000);
    })

  </script>
<% end %>

<pre id="data" style="width:600px;white-space: pre-wrap">

</pre>



