body {
	margin: 0 0 0 0;
}

h1, h2, h3 {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 300;
	margin: 0 0 10px 0;
}

h1 {
	border-radius: 3px;
}

#hiring {
	background: #00A3CC;
	color: #fff;
	margin-bottom: 30px;
	padding: 3px;
	text-align: center;
}

#hiring a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

#hiring a:hover {
	text-decoration: underline;
}

#scout_realtime_logo {
	width: 204px;
	margin: 0 auto;
	display: block;
}

h1#title {
	text-align: center;
	margin: 30px 0;
}

#inner {
	width: 910px;
	margin: 0 auto;
	position: relative;
}

#table_wrapper {
	position: relative;
}

#top_terminal {
	position: absolute;
	z-index: 1000;
	left: 3px;
}

#window_overlay {
	background-image: linear-gradient(bottom,rgba(255,255,255,1) 0%, rgba(255, 255, 255, 0) 100%);
	background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255, 255, 255, 0) 100%);
	background-image: -moz-linear-gradient(bottom,rgba(255,255,255,1) 0%, rgba(255, 255, 255, 0) 100%);
	background-image: -ms-linear-gradient(bottom,rgba(255,255,255,1) 0%, rgba(255, 255, 255, 0) 100%);
	height: 100px;
	width: 100%;
	position: absolute;
	bottom: 0;
}

#top {
	background: url(../images/old_computer.png) no-repeat 0% 0%;
	padding-left: 20%;
	padding-right: 20%;
}

.clear {
	clear: both;
}

#top h1 {
	background: #00A3CC; /* blue */
	padding: 10px;
	opacity: 0.8;
	color: #fff;
}

section h1 {
	font-size: 40px;
}

section .gray {
	color: #999;
}

/** install section **/

#install {
	background: url(../images/gears.png) no-repeat 100% 50px;
}

.terminal {
	background: #000;
	font-family: monospace;
	color: #fff;
	padding: 0 15px;
	margin-bottom: 30px;
	display: inline-block;
	border-radius: 2px;
}

.terminal.wide {
	margin-bottom: 5px;
}

.terminal code {
	display: block;
	font-size: 20px;
	padding: 15px 0;
}

.notes {
	color: gray;
	margin-left: 74px;
	margin-bottom: 20px;
	font-size: 14px;
}

.notes a {
	color: gray;
}

.quiet {
	font-size: 14px;
	color: #444;
}

.number {
	background: #88C577;/* green */
	font-size: 44px;
	border-radius: 3px;
	float: left;
	margin-right: 10px;
	padding: 0px 20px;
	color: #fff;
}

.blue {
/*background: #4968B9;*/
opacity: 0.9;
/*color: #fff;*/
padding-right: 0;
padding-top: 10px;
/*margin-bottom: 50px;*/
/*width: 50%;*/
display: inline-block;
}

.blue h1,.blue h2 {
/*color: #fff;*/
line-height: 150%;
font-size: 25px;
}

.blue h1 {
	font-size: 40px;
}

#install h1:first-child {
	background: #4968B9;
	color: #fff;
	padding: 20px;
	width: 80%;
	opacity: 0.7;
}

#install:before {
	content: ' ';
	padding: 0px 0;
	display: block;
	margin-top: 10px;
	background: url(../images/divider_down.png) no-repeat -50px 0px;
	height: 64px;
	display: block;
}

#install:after,#install:before {
	content: '';
	display: block;
	background: url(../images/divider_up.png) no-repeat 50% 50%;
	height: 16px;
	padding: 40px 0 50px 0;
}

#install:before {
	padding-top:0;
	background: url(../images/divider_up.png) no-repeat 50% 0%;
	
}

ul {
	padding: 0;
}

#top ul li {
	background: #fff url(../images/check.png) no-repeat 5px 8px;
	list-style-type: none;
	padding: 10px 5px 5px 40px;
	line-height: 130%;
	font-size: 20px;
	margin-bottom: 20px;
	opacity: 0.8;
}

#top h2 {
	background: #fff;
	font-size: 30px;
	padding: 10px;
	opacity: 0.7;
}

/** questions section **/

#questions:before {
	content: '';
	display: block;
	background: url(../images/divider_up.png) no-repeat 50% 50%;
	height: 16px;
	padding: 40px 0 40px 0;
	margin-bottom: 30px;
}

#questions h1 {
	background: #88C577;/* green */
	color: #fff;
	padding: 20px;
	width: 80%;
	opacity: 0.9
}

#questions h3 {
	font-size: 20px;
	color: #000;
	margin-bottom: 3px;
}

#questions h3:not(:first-child) {
	margin-top: 30px;
}

#questions {
	line-height: 180%;
	font-size: 14px;
	color: #444;
	background: url(../images/question.png) no-repeat 100% 100px;
}

#questions_inner {
	padding: 0 10%;
}

#questions .terminal {
	margin-bottom: 0;
}

/** footer **/

div#footer {
	margin-top: 50px;
	background: #000;
	color: #fff;
	padding: 20px;
	text-align: center;
	font-size: 14px;
	color: #cecece
}

div#footer div {
	margin-bottom: 10px;
}